<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Create a new User</h1>
    <form action="/userMng/create" method="post">
        <table>
            <tr>
                <td>Login</td>
                <td><input type="text" name="login" id="login"></td>
                <td><span style="color: red;"><%= locals.loginErrMes %></span></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" id="password"></td>
                <td><span style="color: red;"><%= locals.passwordErrMes %></span></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" id="name"></td>
                <td><span style="color: red;"><%= locals.nameErrMes %></span></td>
            </tr>
            <tr>
                <td>FirstName</td>
                <td><input type="text" name="firstName" id="firstName"></td>
                <td><span style="color: red;"><%= locals.firstNameErrMes %></span></td>
            </tr>
            <tr>
                <td>Telephone</td>
                <td><input type="text" name="tel" id="tel"></td>
                <td><span style="color: red;"><%= locals.telErrMes %></span></td>
            </tr>
            <tr>
                <td>Mail</td>
                <td><input type="text" name="mail" id="mail"></td>
                <td><span style="color: red;"><%= locals.mailErrMes %></span></td>
            </tr>
            <tr>
                <td colspan="3">
                    <button type="submit">Confirm</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>