<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Check your entry values</h1>
    <form action="/userMng/deleteConfirmed" method="post">
        <table>
            <tr>
                <td>Login</td>
                <td><input type="text" name="login" id="login" value="<%= locals.login %>" disabled></td>
                <td><%= locals.loginErrMes %></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" id="password" value="<%= locals.password %>" disabled></td>
                <td><%= locals.passwordErrMes %></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" id="name" value="<%= locals.name %>" disabled></td>
                <td><%= locals.nameErrMes %></td>
            </tr>
            <tr>
                <td>FirstName</td>
                <td><input type="text" name="firstName" id="firstName" value="<%= locals.firstName %>" disabled></td>
                <td><%= locals.firstNameErrMes %></td>
            </tr>
            <tr>
                <td>Telephone</td>
                <td><input type="text" name="tel" id="tel" value="<%= locals.tel %>" disabled></td>
                <td><%= locals.telErrMes %></td>
            </tr>
            <tr>
                <td>Mail</td>
                <td><input type="text" name="mail" id="mail" value="<%= locals.mail %>" disabled></td>
                <td><%= locals.mailErrMes %></td>
            </tr>
            <tr>
                <td colspan="3">
                    <button onclick="javascript: confirm('Etes-vous sur de continuer?');" type="submit">Confirm</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>