<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Bienvenue sur le site de noob il est temps de s'amuser avec les currents users! </h1>

    <form action="/userMng" method="POST">

        <h3><span style="color: red;"><%= locals.noCondErr %></span></h3>
        <table border="1px">
            <tr>
                <td>Search by name :</td>
                <td><input type="text" name="search_name" id="name"></td>
            </tr>
            <tr>
                <td>Search by email :</td>
                <td><input type="text" name="search_email" id="email"></td>
            </tr>
            <tr>
                <td>Search by login :</td>
                <td><input type="text" name="search_login" id="login"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>
    </form>
    <a href="/userMng/create">    <img src="/img/plus.png" width="40" height="40"></img></a>
    

    <h3><span style="color: red;"><%= locals.noUserFoundErr %></span></h3>
    
    <table border="1px">
        <tr>
            <th>login</th>
            <th>name</th>
            <th>firstName</th>
            <th>tel</th>
            <th>mail</th>
            <th>lastConDate</th>
            <th>createdDay</th>
            <th>Update/Delete</th>
        </tr>
        <% if (locals.users) { %>
            <% for(let i = 0; i < locals.users.length; i++) { %>
                <form method="POST">
                    <tr>
                        <td><%= locals.users[i].login %></td>
                        <td><%= locals.users[i].name %></td>
                        <td><%= locals.users[i].firstName %></td>
                        <td><%= locals.users[i].tel %></td>
                        <td><%= locals.users[i].mail %></td>
                        <td><%= locals.users[i].lastConDate %></td>
                        <td><%= locals.users[i].createdDay %></td>
                        <td>
                            <input type="submit" value="Update" onclick="javascript:form.action='/userMng/update'">
                            <input type="submit" value="Delete" onclick="javascript:form.action='/userMng/delete'">
                        </td>
                        <input type="hidden" name="id" value="<%= locals.users[i].id %>">
                        <input type="hidden" name="login" value="<%= locals.users[i].login %>">
                        <input type="hidden" name="password" value="<%= locals.users[i].password %>">
                        <input type="hidden" name="name" value="<%= locals.users[i].name %>">
                        <input type="hidden" name="firstName" value="<%= locals.users[i].firstName %>">
                        <input type="hidden" name="tel" value="<%= locals.users[i].tel %>">
                        <input type="hidden" name="mail" value="<%= locals.users[i].mail %>">
                        <input type="hidden" name="lastConDate" value="<%= locals.users[i].lastConDate %>">
                        <input type="hidden" name="createdDay" value="<%= locals.users[i].createdDay %>">
                    </tr>
                </form>
            <% } %>
        <% } %>
    </table>
</body>

</html>